<launch>

  <arg name="relative_pose"  default="[0.0, -1.1, 0.0]"/>

  <group ns="virtual_leader">
    <rosparam file="$(find virtual_leader)/config/set_leader_pose.yaml" command="load" />

    <node name="set_leader_pose" pkg="virtual_leader" type="set_leader_pose.py" output="screen">
      <rosparam param="relative_pose" subst_value="True">$(arg relative_pose) </rosparam>
    </node>
  </group>

</launch>